div.input-window {
	padding:20px 5px 5px 5px;
	margin-bottom:30px;
	position:relative;
	border:1px solid #bbb;
	background:url('../img/window-gradient.gif') top left repeat-x #ddd;
}
div.input-window div.sequence {
	padding:10px 10px 15px 10px;
	background-color:#eee;
	border:1px solid #bbb;
	border-bottom:1px dotted #bbb;
}
div.input-window div.sequence label {
	display:block;
	padding-bottom:10px;
}
div.input-window div.sequence textarea {
	width:764px;
	height:196px;
	padding-top:2px;
}
div.input-window div.alternative-input {
	padding:15px 10px 15px 10px;
	border:1px solid #bbb;
	border-top:none;
	border-bottom:none;
	background-color:#fff;
}
div.input-window div.button-bar {
	padding:15px 10px 10px 10px;
	text-align:right;
	border:1px solid #bbb;
	border-top:none;
	background-color:#fff;
}
div.input-window div.button-bar input.button {
	margin-left:10px;
	padding:2px 5px 1px 5px;
	cursor:pointer;
	font-weight:bold;
	background-color:#f5f5f5;
}
div.input-window div.button-bar input.button:hover {
	background-color:#ffffff;
}



div.input-window table.formtable {
	margin:0px;
	padding:0px;
	width:100%;
	border-spacing:0px;
	border-collapse:collapse;
}
div.input-window table.formtable td {
	margin:0px;
	padding:0px;
	width:50%;
}
div.input-window table.formtable td.left {
	margin:0px;
	padding-right:5px;
	text-align:left;
}
div.input-window table.formtable td.right {
	margin:0px;
	padding-left:5px;
	text-align:right;
}
div.input-window table.formtable td label {
	margin:0px;
	padding-bottom:10px;
	display:block;
	text-align:left;
}
div.input-window table.formtable td input.text {
	width:100%;
}
div.input-window table.formtable td select {
	width:100%;
}
div.input-window table.formtable td textarea {
	width:100%;
}



div.input-window div.filter {
	padding:10px;
	background-color:#fff;
	border:1px solid #bbb;
}
div.input-window div.filter label {
	display:block;
}



div.input-window div.filter table.filter-item-group {
	margin-top:10px;
	width:100%;
	border-spacing:0px;
	border-collapse:collapse;
	border-top:1px dotted #bbb;
}
div.input-window div.filter td.filter-item {
	padding-top:10px;
	vertical-align:middle;
	text-align:left;
}
div.input-window div.filter td.filter-item-group {
	padding-top:0px;
	vertical-align:top;
}
div.input-window div.filter td.filter-item-label {
	padding-top:10px;
	width:30%;
	font-weight:bold;
	vertical-align:top;
}
div.input-window div.filter td.filter-item-input {
	width:1%;
	padding-top:10px;
	padding-right:10px;
	vertical-align:middle;
}
div.input-window div.filter table.filter-item-group td.filter-item-group table.filter-item-group {
	margin-top:0px;
	margin-bottom:0px;
	width:100%;
	border-spacing:0px;
	border-collapse:collapse;
	border-top:none;
}
div.input-window div.filter table.filter-item-group td.filter-item-group table.filter-item-group td.filter-item-label {
	width:50%;
}
div.input-window div.filter table.filter-item-group td.filter-item-group table.filter-item-group td.filter-item-input {
	width:50%;
}



div.input-window div.filter div.dropdownbox {
	padding-top:30px;
}
div.input-window div.filter div.dropdownbox label.show-settings {
	padding:10px 20px 9px 20px;
	color:#444488;
	cursor:pointer;
	border:1px solid #ddd;
	background:url('../img/arrow_right_blue.gif') 10px center no-repeat #eee;
}
div.input-window div.filter div.dropdownbox.opened label.show-settings {
	border-bottom:1px dotted #ddd;
	background:url('../img/arrow_down_blue.gif') 10px center no-repeat #eee;
}
div.input-window div.filter div.dropdownbox table.filter-item-group {
	border:none;
	margin-top:5px;
}
div.input-window div.filter div.dropdownbox table.filter-item-group div.multiselect {
	padding-bottom:40px;
}
div.input-window div.filter div.dropdownbox table.filter-item-group table.filter-item-group {
	border:none;
}
div.input-window div.filter div.dropdownbox table.filter-item-group td {
	
}

div.dialog {
	padding:10px;
	cursor:pointer;
	font-size:11px;
	border:1px solid #ddd;
	background:#eee;
}
div.dialog.error {
	color:#cc4444;
	font-weight:bold;
}
