

div.multiselect {
	position:relative;
	z-index:10;
}
div.multiselect div.editpanel {
	position:absolute;
	top:-86px;
	z-index:12;
	width:160px;
	height:60px;
	padding:20px 5px 5px 5px;
	border:1px solid #bbb;
	background:url('../img/window-gradient.gif') top left repeat-x #ddd;
	display:none;
}
div.multiselect div.editpanel.active {
	display:block;
}
div.multiselect div.editpanel div.editpanel-inner {
	width:160px;
	height:60px;
	text-align:left;
}
div.multiselect div.editpanel div.editpanel-inner table.editpanel-table {
	width:100%;
	height:100%;
	border-collapse:collapse;
	border-spacing:0px;
}
div.multiselect div.editpanel div.editpanel-inner table.editpanel-table td {
	padding:0px 5px 0px 5px;
	margin:0px;
	vertical-align:middle;
}
div.multiselect div.editpanel div.editpanel-inner table.editpanel-table td.left {
	text-align:left;
}
div.multiselect div.editpanel div.editpanel-inner table.editpanel-table td.right {
	text-align:right;
}
div.multiselect div.editpanel div.editpanel-inner table.editpanel-table td.right input.text {
	text-align:right;
	width:78px;
}
div.multiselect div.editpanel div.editpanel-inner table.editpanel-table td.right input.text.error {
	background:url('../img/attention.gif') left center no-repeat #fff;
}
div.multiselect div.editpanel div.editpanel-inner table.editpanel-table td label {
	padding-right:5px;
	display:inline;
}



div.multiselect div.editpanel div.button {
	width:20px;
	height:16px;
	padding-top:4px;
	margin-right:-2px;
	margin-left:3px;
	float:right;
	text-align:center;
	cursor:pointer;
	color:#999;
	font-weight:bold;
	background:url('../img/button.gif') top left no-repeat;
}
div.multiselect div.editpanel div.button.active {
	background:url('../img/button_pressed.gif') top left no-repeat;
}
div.multiselect div.editpanel div.editpanel-reset {
	width:17px;
	height:17px;
	margin-right:-1px;
	margin-left:6px;
	float:right;
	cursor:pointer;
	background:url('../img/button_refresh.gif') top left no-repeat;
}
div.multiselect div.editpanel div.editpanel-reset:hover {
	background:url('../img/button_refresh_pressed.gif') top left no-repeat;
}
div.multiselect div.editpanel div.editpanel-close {
	width:17px;
	height:17px;
	margin-right:-1px;
	margin-left:6px;
	float:right;
	cursor:pointer;
	background:url('../img/button_close.gif') top left no-repeat;
}
div.multiselect div.editpanel div.editpanel-close:hover {
	background:url('../img/button_close_pressed.gif') top left no-repeat;
}

div.multiselect div.editpanel div.dialog {
	position:absolute;
	left:80px;
	width:138px;
	text-align:left;
	border:1px solid #bbb;
	background-color:#fff;
	opacity:0.9;
}



div.multiselect div.item {
	position:relative;
	z-index:11;
	width:15px;
	height:15px;
	margin-right:5px;
	float:left;
	border:1px solid #bbb;
	background:#fff;
	cursor:pointer;
}
div.multiselect div.item:hover {
	background-color:#eee;
}
div.multiselect div.item.active {
	z-index:13;
	border-color:#bbb;
	border-top-color:#ddd;
	background-color:#ddd;
}
div.multiselect div.item span.pospref {
	display:block;
	height:13px;
	padding-top:2px;
	text-align:center;
}
div.multiselect div.item span.pospref {
	
}
div.multiselect div.item span.pospref.not {
	background:url('../img/cross_red.gif') center no-repeat;
}
div.multiselect div.item span.penalty {
	display:block;
	padding-top:5px;
	text-align:center;
}