div.result-window {
	width:600px;
	height:202px;
	padding:20px 5px 5px 5px;
	margin-bottom:30px;
	position:relative;
	border:1px solid #bbb;
	background:url('../img/window-gradient.gif') top left repeat-x #ddd;
}
div.result-scroller {
	width:598px;
	height:200px;
	position:relative;
	overflow:scroll;
	overflow-y:hidden;
	cursor:pointer;
	border:1px solid #bbb;
	background-color:#fff;
}
div.result-diagram {
	height:185px;
	position:relative;
}
div.result-diagram-bar {
	background-color:#fff;
	z-index:10;
}
div.result-diagram-bar-highlight {
	background-color:#aaaaee;
	z-index:10;
}
div.result-diagram-bar-good {
	background-color:#00ff00;
	z-index:10;
}
div.result-diagram-bar-medium {
	background-color:#ff0000;
	z-index:10;
}
div.result-diagram-bar-bad {
	background-color:#000000;
	z-index:10;
}
div.result-diagram-bar * {
	display:none;
}
div.result-diagram-selection {
	position:absolute;
	height:100%;
	background-color:#ddddee;
	background-color:#eedddd;
}



div.result-options {
	height:20px;
	width:193px;
	position:absolute;
	top:0px;
	right:0px;
	border-left:1px solid #bbb;
}
div.result-options * {
	font-size:11px;
	font-weight:normal;
	color:#999;
}



div.result-grid {
	height:15px;
	width:50px;
	padding:5px 10px 0px 10px;
	float:right;
	border-left:1px solid #fff;
	border-right:1px solid #bbb;
}
div.result-grid label {
	padding-right:10px;
	display:block;
	float:left;
}
div.button-toggle {
	width:8px;
	height:8px;
	cursor:pointer;
	float:right;
	border:1px solid #bbb;
	background:url('../img/plus.gif') center no-repeat #f5f5f5;
}
div.button-toggle-active {
	width:8px;
	height:8px;
	cursor:pointer;
	float:right;
	border:1px solid #bbb;
	background:url('../img/minus.gif') center no-repeat #f5f5f5;
}
div.button-toggle:hover, div.button-toggle-active:hover {
	background-color:#fff;
}
div.gridline-horizontal {
	height:1px;
	background-color:#bbb;
}
div.gridline-vertical {
	width:1px;
	background-color:#bbb;
}
div.gridline-text {
	position:absolute;
	font-size:10px;
	color:#ccc;
}



div.result-zoom {
	height:15px;
	width:105px;
	padding:5px 5px 0px 10px;
	float:right;
	border-left:1px solid #fff;
}
div.result-zoom label {
	padding-right:10px;
	display:block;
	float:left;
}
div.result-zoom-value {
	float:right;
	width:30px;
	height:10px;
	padding:0px 5px;
	text-align:center;
}
div.button-decrease {
	width:8px;
	height:8px;
	cursor:pointer;
	float:right;
	border:1px solid #bbb;
	background:url('../img/minus.gif') center no-repeat #f5f5f5;
}
div.button-decrease:hover {
	background-color:#fff;
}
div.button-increase {
	width:8px;
	height:8px;
	cursor:pointer;
	float:right;
	border:1px solid #bbb;
	background:url('../img/plus.gif') center no-repeat #f5f5f5;
}
div.button-increase:hover {
	background-color:#fff;
}


div.result-details-window {
	width:150px;
	height:202px;
	padding:20px 5px 5px 5px;
	float:right;
	position:relative;
	border:1px solid #bbb;
	background:url('../img/window-gradient.gif') top left repeat-x #ddd;
}
div.result-details {
	width:128px;
	height:200px;
	padding:0px 10px;
	border:1px solid #bbb;
	background-color:#fff;
}
div.result-details-item {
	clear:both;
	padding:10px 0px;
	height:12px;
	border-bottom:1px dotted #bbb;
}
div.result-details-item label {
	display:block;
	float:left;
}
div.result-details-item span {
	float:right;
}



div.sequence-window {
	width:600px;
	width:788px;
	height:102px;
	padding:20px 5px 5px 5px;
	margin-bottom:30px;
	position:relative;
	border:1px solid #bbb;
	background:url('../img/window-gradient.gif') top left repeat-x #ddd;
}
div.sequence-window textarea.sequence {
	width:598px;
	width:786px;
	height:98px;
	padding-top:2px;
	border:1px solid #bbb;
}



div.offtargets-window {
	width:600px;
	width:788px;
	padding:20px 5px 5px 5px;
	margin-bottom:30px;
	position:relative;
	border:1px solid #bbb;
	background:url('../img/window-gradient.gif') top left repeat-x #ddd;
}
div.offtargets-window table {
	width:598px;
	width:786px;
	border-spacing:0px;
	border-collapse:collapse;
	border:1px solid #bbb;
	background-color:#fff;
}
div.offtargets-window table th {
	padding:5px 10px;
	text-align:left;
	vertical-align:top;
	border-bottom:1px dotted #bbb;
}
div.offtargets-window table td {
	padding:5px 10px;
	text-align:left;
	vertical-align:middle;
	border-bottom:1px dotted #bbb;
}
div.dropdown {
	padding:10px;
	padding-bottom:0px;
	background-color:#eee;
	border:1px solid #ddd;
}
div.dropdown .dropdownheader {
	padding-left:12px;
	padding-bottom:10px;
	color:#444488;
	cursor:pointer;
	background:url('../img/arrow_right_blue.gif') 2px 2px no-repeat;
}
div.dropdown.opened .dropdownheader {
	background:url('../img/arrow_down_blue.gif') 0px 3px no-repeat;
}
.offtargets-table .count {
	display:block;
}
.offtargets-table .items {
	display:block;
	padding-left:12px;
	border-top:1px dotted #bbb;
	
}
.offtargets-table .items a {
	display:block;
	padding:5px 5px 5px 10px;
	color:#444488;
	text-decoration:none;
	background:url('../img/arrow_right_blue.gif') 1px center no-repeat;
}
.offtargets-table .items a:hover {
	color:#6666aa;
	text-decoration:underline;
}
