html {
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
	font-family:Helvetica,sans-serif;
	font-size:12px;
	color:#666;
	background-color:#fff;
}
html * {
	padding:0px;
	margin:0px;
	font-family:Helvetica,sans-serif;
	font-size:12px;
	color:#666;
}
body {

}
center {

}

div.page {
	width:800px;
	padding-top:50px;
	padding-bottom:50px;
	position:relative;
	text-align:left;
}

h1 {
	margin-bottom:30px;
	padding-bottom:10px;
	font-size:36px;
	color:#444488;
	border-bottom:1px dotted #bbb;
}
h2 {
	margin-bottom:10px;
	font-size:30px;
	font-weight:normal;
	color:#444488;
}
h3 {
	margin-bottom:20px;
	font-size:24px;
	font-weight:normal;
	color:#6666aa;
}

label {
	font-weight:bold;
}
input.button, input.text, select.select, textarea.textarea {
	margin:0px;
	padding:0px;
	border:1px solid #bbb;
}
input.text {
	padding:1px 0px;
}
input.text.focused, select.select.focused, textarea.textarea.focused {
	border:1px solid #888;
	border:1px solid #6666aa;
}
input.text.error, select.select.error, textarea.textarea.error {
	border:1px solid #ff0000;
	background:url('../img/attention.gif') right center no-repeat #fff;
}

div.wait {
	height:100%;
	text-align:center;
	background:url('../img/wait_small.gif') center no-repeat;
}
div.status {
	padding:10px;
	text-align:center;
	font-weight:bold;
	color:#44aa44;
}
div.error {
	font-weight:bold;
	color:#aa4444;
}

